<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.jade.min.css">

<h3 class="text-primary" th:text="${user.name}+'님'"></h3>
<table style="width:500px">
	<tr style="text-align: center;">
		<td>
			<input type="button" value="회원정보수정"> <input
			type="button" value="주문배송조회"> <input type="button"
			value="나의 리뷰">
		</td>
	</tr>
	<tr>
		<td>
			<input type="button" value="로그아웃" onclick="location.href='/user/logout'">
		</td>
	</tr>
</table>

<a href="../index">메인화면</a>



